<div class="d-flex flex-row flex-wrap justify-content-sb align-items-stretch">
    <div class="pointer mr-1 mb-1 d-flex" *ngFor="let decorado of entities">
        <div class="w-100 border rounded p-1 d-flex align-items-center" [ngClass]="{'active': idsSelected.includes(decorado.id)}" (click)="selectEntity( decorado )">
            <div class="img-container" *ngIf="decorado.file">
                <app-photo-viewer [id]="decorado.file" endpoint="decorado-file" [size]="imageSize"></app-photo-viewer>
            </div>
            <div class="description-container ml-1">{{decorado.description}}</div>
        </div>
    </div>
</div>