<div>
    <div mat-dialog-title>
        Seleccione el tipo de olla
    </div>
    <div mat-dialog-content>
        <mat-selection-list [multiple]="false">
            <mat-list-option *ngFor="let tipo of entities" (click)="selectOption( tipo )">
                <mat-icon matListIcon>folder</mat-icon>
                <h3 matLine>{{tipo.description}}</h3>
            </mat-list-option>
        </mat-selection-list>
    </div>
    <div mat-dialog-actions align="end">
        <button mat-button (click)="close()">Cerrar</button>
    </div>
</div>