<div class="container">
    <div class="row">
        <div class="c-20">
            <h3>Creación de olla</h3>
        </div>
        <div class="c-20">
            <mat-form-field appearance="outline">
                <mat-label>Descripción</mat-label>
                <textarea matInput type="text" placeholder="Información de la olla" required></textarea>
            </mat-form-field>
        </div>
        <div class="c-20">
            <div class="w-100 border rounded pointer p-2 text-center" *ngIf="entity.type; else noType">
                {{entity.type.description}}
            </div>
            <ng-template #noType>
                <div class="w-100 border rounded pointer p-2 text-center" (click)="openSelector()">
                    No se ha seleccionado un tipo de olla haz clic aqui para seleccionar uno
                </div>
            </ng-template>
        </div>
        <div class="c-20">
            <app-decorado-multiple-selector></app-decorado-multiple-selector>
        </div>
    </div>
</div>