<div class="container">
    <div class="row">
        <div class="c-20">
            <h3>Listado de ollas</h3>
            <button mat-flat-button [routerLink]="['create']">
                Agregar olla
            </button>
        </div>
        <div class="c-20">
            <table mat-table [dataSource]="entities">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>ID</th>
                    <td mat-cell *matCellDef="let olla">{{olla.id}}</td>
                </ng-container>
                <!-- <mat-text-column name="id" headerText="Hola k ase"></mat-text-column> -->
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let data; columns: columnsToDisplay"></tr>
            </table>
        </div>
    </div>
</div>