<div class="container">
    <div class="row mt-2">
        <div class="c-20">
            <h3>
                Listado de ollas
                <button class="float-right" mat-flat-button [routerLink]="['create']">
                    Agregar olla
                </button>
            </h3>
        </div>
        <div class="c-20 mt-1">
            <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
            <table class="w-100" mat-table [dataSource]="entities" matSort (matSortChange)="sortElements($event)">
                <ng-container matColumnDef="photo">
                    <th mat-header-cell *matHeaderCellDef>Foto</th>
                    <td mat-cell *matCellDef="let olla">
                        <div class="py-1">
                            <app-photo-viewer endpoint="olla-file" [id]="olla.photo" [size]="60" border-type="rounded"></app-photo-viewer>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>Descripción</th>
                    <td mat-cell *matCellDef="let olla">{{olla.description}}</td>
                </ng-container>
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef>Tipo de olla</th>
                    <td mat-cell *matCellDef="let olla">
                        {{olla.type.description}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let entity" class="text-right">
                        <button mat-flat-button [routerLink]="['edit', entity.id]">
                            Editar
                        </button>
                    </td>
                </ng-container>
                <!-- <mat-text-column name="id" headerText="Hola k ase"></mat-text-column> -->
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let data; columns: columnsToDisplay"></tr>
            </table>
            <mat-paginator [pageSize]="elementsPerPage" [length]="totalElements" (page)="loadPage($event)"></mat-paginator>
        </div>
    </div>
</div>