/* You can add global styles to this file, and also import other style files */
@use "./app/utils/styles/misc" as misc;
@use '@angular/material' as mat;
@import '@angular/material/prebuilt-themes/pink-bluegrey';
@import "./app/utils/styles";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


$primary: mat.define-palette(mat.$pink-palette, 700, 500, 900);
$accent:  mat.define-palette(mat.$blue-grey-palette, A200, A100, A400);

$theme: mat.define-dark-theme((
  color: (
    primary: $primary,
    accent: $accent
  )
));

@include misc.theme($theme);