.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .c-1 {
        flex: 0 0 auto;
        width: 5%;
    }
    .c-2 {
        flex: 0 0 auto;
        width: 10%;
    }
    .c-3 {
        flex: 0 0 auto;
        width: 15%;
    }
    .c-4 {
        flex: 0 0 auto;
        width: 20%;
    }
    .c-5 {
        flex: 0 0 auto;
        width: 25%;
    }
    .c-6 {
        flex: 0 0 auto;
        width: 30%;
    }
    .c-7 {
        flex: 0 0 auto;
        width: 35%;
    }
    .c-8 {
        flex: 0 0 auto;
        width: 40%;
    }
    .c-9 {
        flex: 0 0 auto;
        width: 45%;
    }
    .c-10 {
        flex: 0 0 auto;
        width: 50%;
    }
    .c-11 {
        flex: 0 0 auto;
        width: 55%;
    }
    .c-12 {
        flex: 0 0 auto;
        width: 60%;
    }
    .c-13 {
        flex: 0 0 auto;
        width: 65%;
    }
    .c-14 {
        flex: 0 0 auto;
        width: 70%;
    }
    .c-15 {
        flex: 0 0 auto;
        width: 75%;
    }
    .c-16 {
        flex: 0 0 auto;
        width: 80%;
    }
    .c-17 {
        flex: 0 0 auto;
        width: 85%;
    }
    .c-18 {
        flex: 0 0 auto;
        width: 90%;
    }
    .c-19 {
        flex: 0 0 auto;
        width: 95%;
    }
    .c-20 {
        flex: 0 0 auto;
        width: 100%;
    }
}